<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jm.dao.PreviewPreDao">
	
	<select id="quaryByPreviewId" resultType="com.jm.bean.PreviewPre">
		 select * from t_preview where previewId =#{previewId} and deleted = 0
	</select>
    
    <select id="getByPreviewPreId" resultType="com.jm.bean.PreviewPre">
         select * from t_previewafter_preview where previewId =#{previewId}
    </select>
</mapper>